@{
    ViewData["Title"] = "За нас";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="main-header">
        <h1>ПГХТ "Акад. Н. Д. Зелинский"</h1>
        <p>- Нашето училище вашият правилен избор! -</p>
    </header>
    <main>
        <section>
            <p>
                ПГХТ „Акад. Н. Д. Зелинский“- гр. Бургас започва да пише своята история през далечната 1960 година като Техникум по индустриална химия. Училището е създадено с цел подготовка на кадри за нефтохимическата промишленост. Започнала съществуването си с четири паралелки, днес гимназията обучава ученици след завършен седми клас в 23 паралелки по 5 специалности. Обучението се осъществява от 48 квалифицирани учители. Гимназията разполага с учебна сграда, общежитие, библиотека, физкултурен салон, фитнес зала и физкултурна площадка. Учебният процес се провежда 17 класни стаи, 9 химични лаборатории с най- съвременно технологично оборудване, 8 компютърни зали, в които се провежда обучението по информационни технологии и професионална подготовка. Оборудването и обзавеждането им- съвременни компютърни конфигурации, преносими компютри, интерактивни дисплеи, 3D скенер и принтер, мултифункционални устройства са осигурени със собствени средства и по програми и проекти, които училището печели през годините. Във връзка с изискванията на пазара по труда от изпълнителски кадри, гимназията предоставя възможност на своите възпитаници да провеждат практическо обучение в реална работна среда. Придобитите знания и формираните умения намират своето приложение при работа във фирми и предприятия с прякото участие на наставници от различни сфери на производството и икономиката. Много от учениците, завършващи ПГХТ „ Акад. Н. Д. Зелинский“, продължават образованието си във висши училища по специалности и направления от средното си образование.
            </p>
        </section>
    </main>
</body>
</html>
