@{
    ViewData["Title"] = "Връзка с нас";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="main-header">
        <h1>ПГХТ "Акад. Н. Д. Зелинский"</h1>
        <p>- Нашето училище вашият правилен избор! -</p>
    </header>
    <main>
        <section>
            <ul style="list-style-type: none; font-size: 42px; margin-top: 80px;">
                <li>&#128222 056/881 227</li>
                <li>&#128231 200247@edu.mon.bg</li>
                <li>&#128205 гр. Бургас к-с "Изгрев" до бл.53</li>
            </ul>
        </section>
    </main>
</body>
</html>