@{
    ViewData["Title"] = "Начало";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="main-header">
        <h1>ПГХТ "Акад. Н. Д. Зелинский"</h1>
        <p>- Нашето училище вашият правилен избор! -</p>
    </header>
    <main>
        <section>
            <h2>Специалности:</h2>
            <ul>
                <li>Технология на фармацевтични и парфюмерийно- козметични продукти</li>
                <li>Екология и опазване на околната среда</li>
                <li>Икономическа информатика</li>
                <li>Електронна търговия</li>
                <li>Системно програмиране</li>
            </ul>
        </section>
        <section>
            <h2>Предстоящи събития:</h2>
            <ul>
                <li>"Ден на отворените врати" (13.05.2025)</li>
            </ul>
        </section>
    </main>
</body>
</html>