@{
    ViewData["Title"] = "Начало";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <h1>ПГХТ "Акад. Н. Д. Зелинский"</h1>
        <p>- Нашето училище вашият правилен избор! -</p>
    </header>
    <main>
        <section>
            <h2>За гимназията</h2>
            <p></p>
        </section>
        <section>
            <h2>Предстоящи събития:</h2>
            <ul>
                <li>"Ден на отворените врати" (13.05.2025)</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>2025 ПГХТ "Акад. Н. Д. Зелинский"©</p>
    </footer>
</body>
</html>